body {
    color: white;
    background: rgb(175, 0, 255);
    margin: 0px;
    font-family: "Renogare";
    margin-bottom: 100px;
}

button {
    background-color: rgb(200, 50, 255);
    color: white;
    font-family: "Renogare";
    height: 20px;
    border: white;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(212, 95, 255);
    color: white;
    font-family: "Renogare";
    height: 20px;
    border: white;
    border-radius: 10px;
}